<h2>{{album.album_name}}</h2>
<div class="alb-thumb">
	<img src="{{album.image_url}}" />
</div>
<div class="caption alb-thumb">
	<h5><span class = "attributes">Artist:</span> {{album.artist_name}}</h5>
	<h5><span class = "attributes">Release Date:</span> {{album.release_date}}</h5>
	<h5><span class = "attributes">Genre:</span> {{album.genre}}</h5>
</div>


<a href="/albums/{{album._id}}/edit" class="btn btn-primary">Edit Album</a>
<form method="POST" action="/albums?_method=DELETE">
	<button type="submit" class="btn btn-primary">Delete Album</button>
</form>